/* Footer */
footer {
  color: #222222;
  text-align: center;
  padding: 4vh 20vh;
}

footer .social-links {
  margin-bottom: 15px;
}

footer .social-links a {
  margin: 0 10px;
  color: #222222;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
}

footer .social-links a:hover {
  color: #222222;
}

footer p {
  font-size: 0.9rem;
}
