/* Footer */
footer {
  color: #444;
  text-align: center;
  padding: 3vh 20vh;
}

footer .social-links {
  margin-bottom: 15px;
}

footer .social-links a {
  margin: 0 10px;
  color: #444;
  font-size: 2.2vh;
  transition: color 0.3s ease-in-out;
}

footer .social-links a:hover {
  color: #222222;
}

footer p {
  font-size: 1.6vh;
}
