/* Resume */
#resume {
  background: linear-gradient(135deg, rgba(255, 100, 150, 0.3), rgba(100, 150, 255, 0.3));
  text-align: center;
  width: 100%;
  padding: 5vh 20vh;
}

#resume h2 {
  font-size: 2.7vh;
  background-color: #222222;
  border-radius: 5vh;
  padding: 0.3vh 2vh;
  margin-bottom: 5vh;
  color: white;
  display: inline-block;
}

#resume p {
  font-size: 2vh;
  color: #444;
  padding: 0vh 2vh;
  margin-bottom: 5vh;
  font-weight: 450;
}

#resume a {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  margin: 0 2vh;
  font-size: 1.9vh;
  padding: 1vh 2vh;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.btn-resu{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vh;
  margin: 0;
  padding: 0;
}

#resume a:hover {
  background: var(--accent-color);
}

@media (max-width: 600px) {
  #resume {
    padding: 5vh 2vh;
  }

  #resume p {
    padding: 0vh 2vh;
    margin-bottom: 5vh;
  }

  #resume a {
    margin: 0vh;
  }
  
}