/* Reset de estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html, body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

/* Variables CSS */
:root {
  --primary-color: #007acc;
  --secondary-color: #004080;
  --accent-color: #e91e63;
  --bg-color: #ffffff;
  --text-color: #333333;
  --font-family: "Montserrat", sans-serif;
  --max-width: 1200px;
}

/* Estilos Globales */
body {
  color: var(--text-color);
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

/* Layout */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1em;
}

section {
  padding: 3vh 20vh;
}

/* Responsiveness */
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}
